.no-print {
    display: none;
}

.receipt {
    border: 1px solid #000;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    max-width: 58mm;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 16px;
    margin: 5px 0;
}

.header p {
    margin: 3px 0;
}

.info {
    margin: 15px 0;
}

.info p {
    margin: 3px 0;
}

table {
    width: 100%;
    font-size: medium;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 5px 0;
}

th {
    border-bottom: 1px dashed #000;
}

.total,
.amount {
    font-weight: bold;
    text-align: right;
}

.footer {
    margin-top: 10px;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}